<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deciphr</title>
</head>
<body>
    <h1>About Deciphr</h1>
    <hr />
    <p>On this app, you may submit the title of a song and the name of the artist, and then wait for a knowledgeable person or perhaps even the musician themselves to respond!</p>
    <footer>All Rights Reserved, &copy; 2022 Deciphr</footer>
</body>
</html>